#volumes:
#  iod_payment_postgres_data:
#  iod_payment_redis_data:

services:
  db:
    container_name: db-payment
    image: postgres:17.2-alpine
    restart: always
    ports:
      - ${POSTGRES_PORT}:5432
    environment:
      POSTGRES_USER: $POSTGRES_USERNAME
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      POSTGRES_DB: $POSTGRES_DB_NAME
#    volumes:
#      - iod_payment_postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $POSTGRES_USERNAME -d $POSTGRES_DB_NAME" ]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
  redis:
    container_name: redis-payment
    image: redis:7.4.1-alpine
    restart: always
    environment:
      REDIS_PASSWORD: $REDIS_PASSWORD
    ports:
      - ${REDIS_PORT}:6379
#    volumes:
#      - iod_payment_redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "-a", "$REDIS_PASSWORD", "ping" ]
      interval: 30s
      timeout: 10s
      retries: 5
    tty: true
    stdin_open: true
  migrate:
    image: migrate/migrate
    volumes:
      - ../../internal/storage/postgres/migrations:/migrations
    command: [ "-source", "file://migrations", "-database", "postgres://$POSTGRES_USERNAME:$POSTGRES_PASSWORD@db:5432/$POSTGRES_DB_NAME?sslmode=disable", "up" ]
    depends_on:
      db:
        condition: service_healthy
#  nginx:
#    image: nginx:latest
#    container_name: nginx
#    restart: always
#    volumes:
#      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
#    ports:
#      - "80:80"
#      - "443:443"
#    depends_on:
#      - server
#      - db